body{
	font-family:monospace;
	margin:0;
	padding:0;
	background-color:#f5f5f0;
	
}

.animate{
	
	-webkit-transition:all 0.3 ease-out;
	 transition:all 0.3 ease-out;
}

/*Header------------------*/

.header{
	background-color:#1ea4ca;
	border-radius:0px 0px 5px 5px;
	
}

.header_logo{
	color:white;
	float:left;
	display:inline-block;
	padding:4px;
	margin-right:100px;
	margin-top:5px
}

.header_icon{
	display:block;
	float:right;
	padding:20px;
	display:none;
}

.header_icon span{
	display:block;
	height:3px;
	width:35px;
	background-color:white;
	margin-bottom:5px;
}

.header_menu{
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;	
}

.header_menu .header_item{
	margin:0;
	padding:0;
	float:left;
	width:150px;
	height:51px;
	background-color:#1ea4ca;
	text-align:center;
	font-size:15px;
	list-style-type:none;
}

.header_menu .header_item a{
	font-family:monospace;
	font-weight:800;
	text-decoration:none;
	padding:22px;
	color:white;
	text-shadow:1px 1px black;
	display:block;	
}


ul li ul li{
	display:none;
	margin:0;
	width:150px;
	margin-left:-40px;
	background-color:#1ea4ca;
}

ul li:hover ul li{
	display:block;
	position:relative;
	z-index:1000;
	
}


ul li a:hover{
	background-color:#1abbea;
	
}


/*Header Menu dx-------------------------*/

.header_menu_dx{
	float:left;
	margin-left:300px;
}

.header_item_dx{
	display:inline-block;
	
}

.header_item_dx a{
	font-family:monospace;
	font-size:15px;
	font-weight:800;
	color:white;
	display:block;	
	padding:13px;
	margin-top:9px;
	text-decoration:none;
	text-shadow:1px 1px black;
	border-radius:10px;
	background-color:#1abbea;
}

.header_item_dx a:hover{
	opacity:0.85;
}

.clear:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*Account-------------------------------------*/

.account_item{
	font-family:monospace;
	font-weight:800;
	font-size:15px;
}

/*Contatti---------------------------------------*/

.contacts{
	max-width:1000px;
	margin:90px auto;
}


.contact{
	width:30%;
	margin:0 1.5%;	
	background-color:white;
	float:left;	
	background-color:#1ea4ca;
	border-radius:5px 5px 5px 5px;
	text-decoration:none;
}


.contact-img{
	width:100%;
	height:auto;
	border-radius:5px 5px 0px 0px;
}


.contact-text{
	font-family:monospace;
	font-size:15px;
	padding:5px 10px;
	color:white;
	text-shadow:1px 1px black;
}


.contact-text h3{
	margin-bottom:0;
}

.contact-text p{
	font-family:monospace;
	font-size:15px;
}

.mail{
	margin:0;
	padding:0;
	text-decoration:none;
	text-shadow:0px 0px;
	
	
}


.mail:hover{
	text-decoration:underline;
}


/*Container-Index-------------------------------*/


.section-image{
	padding:30px;
	margin:50px 90px;
	margin-top:150px;
}

.container{
	width:75%;
	height:400px;
	margin:80px auto;
	background-color:#1ea4ca;
	border-radius:10px;
}

.titolo-sezione{
	color:white;
	padding:30px;
	text-align:center;
	text-shadow:1px 1px black;
	font-size:24px;
	font-family:monospace;	
}

.section-text{
	color:white;
	padding:20px;
	margin-top:0px;
	font-size:19px;
	font-weight:800;
	font-family:monospace;	
	text-shadow:1px 1px black;
	color:white;
}

#button{
	font-family:monospace;
	font-size:15px;
	font-weight:800;
	width:80px;
	color:white;
	display:block;	
	padding:13px;
	margin-top:50px;
	text-decoration:none;
	text-shadow:1px 1px black;
	border-radius:10px;
	background-color:#1ea4ca;
}

#button:hover{
	opacity:0.85;	
}

/*Container-ricerca------------------------*/


.image-section{
	height:160px;
	width:210px;
	float:right;
	padding:0px;
	margin-top:15px;
	margin-right:80px;
	
}

.image-section1{
	height:160px;
	width:160px;
	float:right;
	padding:0px;
	margin-top:15px;
	margin-right:100px;
}

/*Container-Section------------------------*/

.title-section{
	color:white;
	padding:12px;
	text-align:center;
	font-size:24px;
	font-family:monospace;	
	text-shadow:1px 1px black;
	
}

.container-section{
	width:75%;
	height:400px;
	margin:80px auto;
	background-image:linear-gradient(122deg,#1ea4ca,rgba(33,33,33,0) 150%,rgba(0,0,0,0) 100%);
	background-repeat:no-repeat;
	opacity:0.9;
	border-radius:10px;
	box-shadow:1px 1px grey;

}



/*Container-Appunti------------------------*/

.container_appunti{
	width:60%;
	height:100%;
	margin-top:4600px;
	margin-left:25%;
	padding:0;
	margin:100px auto;
	background-color:#1ea4ca;
	opacity:0.9;
	border-radius:10px;
	box-shadow:1px 1px grey;
	
}

table{
	font-family: monospace, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 15px;
    color:white;
}

th {
    text-align: center;
    text-shadow:1px 1px black;
    font-size:22px;
    padding: 30px;    
}

tr{
	border-radius:10px;
	text-shadow:1px 1px black;
	text-align:center;
	padding:10px;
	font-size:16px;
	font-weight:bold;
}

#idAppunto{
	background-color:#1ea4ca;
	text-shadow:1px 1px black;
	padding:5px;
	border:none;
	color:white;
	font-size:17px;
	font-weight:bold;
}

#idAppunto:hover{
	text-decoration:underline;
}


/*FAQ-------------------------------*/

.container_faq{
	box-sizing:border-box;
	color:white;
	display:block;
	margin-top:10px;
	font-size:18px;
	text-shadow:1px 1px black;
	height:930px;
	line-height:24px;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;  
}

.faq_menu{
    position: relative;
    display: inline;
}

.faq_item{
	background-color: #1ea4ca;
    color: white;
    padding: 25px;
    margin-top:20px;
    font-size: 20px;
    border: none;
}

.faq_item_content{
	display:block;
    position: absolute;
    font-size:14px;
    left:16px;
    background-color:#1ea4ca;
    width: 1000px;
    overflow: none;
} 

.faq_item_content a{
	width:400px;
	margin-left:10px;
}

.faq_item:hover, .faq_item:focus {
border:none;
}

.show {
	display:inline;
}


/*Accesso e Regisrazione-----------------------------------*/

.loginbox{
	width:400px;
	height:400px;
	background:#1ea4ca;
	color:white;
	text-shadow:1px 1px black;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	opacity:0.9;
	box-sizing:border-box;
	border-radius:10px;
	padding:70px 30px;
	box-shadow:1px 1px grey;
	
}

.loginbox-reg{
	width:400px;
    height:550px;
	background:#1ea4ca;
	color:white;
	text-shadow:1px 1px black;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	opacity:0.9;
	box-sizing:border-box;
	border-radius:10px;
	padding:70px 30px;
	box-shadow:1px 1px grey;
	
}

.avatar{
	width:200px;
	height:70px;
	margin-top:10px;
	position:absolute;
	top:0px;
    left:calc(35% - 50px);
}

fieldset{
	padding-top:30px;
	border:none;
}

.box{
	margin-left:50px;
}

p{
	margin:0;
	padding:0;
	font-size:18px;
}

.loginbox p, .loginbox-reg p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.loginbox input{
	width:100%;
	margin-bottom:20px;
}

.loginbox-reg input[type="text"],input[type="password"], .loginbox input[type="text"],input[type="password"]{
	border:none;
	border-bottom:1px solid black;
	background:transparent;
	outline:none;
	height:30px;
	color:white;
	text-shadow:1px 1px black;
	font-size:18px;
	
	
}	
	
.loginbox input[type="submit"]{
	border:none;
	outline:none;
	margin-left:110px;
	width:100px;
	height:30px;
	font-size:18px;
	border-radius:10px;
	color:#1ea4ca;
	text-shadow:1px 1px black;
	background-color:white;
}

.loginbox-reg input[type="submit"],input[type="reset"]{
	border:none;
	outline:none;
	height:30px;
	background:#f5f5f0;
	font-size:16px;
	border-radius:10px;	
	color:#1ea4ca;
	margin-left:25px;
	text-shadow:1px 1px black;
		
}

 .loginbox input[type="submit"]:hover{
	cursor:pointer;
	background:#f5f5f0;
	color:#1ea4ca;
	text-shadow:1px 1px black;
	box-shadow:1px 1px black;
}

.loginbox-reg input[type="submitForm"],input[type="reset"]:hover{
	cursor:pointer;
	box-shadow:1px 1px black;	
}

a{
	text-align:center;
}

.loginbox a{
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	color:white;
	text-shadow:1px 1px black;
	margin-left:100px;
	
}

.loginbox-reg a{
	text-decoration:none;
	font-size:14px;
	line-height:20px;
	color:white;
	text-shadow:1px 1px black;
	margin-left:60px;
}

.loginbox a:hover{
	text-decoration:underline;
}


.loginbox-reg a:hover{
	text-decoration:underline;
}

::placeholder {
	font-size:14px;
	opacity:0.7;

	}


/*Footer-----------------------------------*/


.footer{
	font-family:monospace;
	font-weight:600;
	font-size:15px;
	color:#fff;
	background-color:#1ea4ca;
	margin-top:35%;
	padding:20px;
	border-radius:5px 5px 0px 0px;
	text-decoration:none;
}


.image-footer {
	vertical-align:bottom;
	text-align:left;
	margin-bottom:-90px;
	padding:0px;	
}

.container-footer{
	font-weight:600;
	font-size:15px;
	padding:0;
	margin-top:-75px;
	text-decoration:none;
	text-shadow:1px 1px black;
}

.copyright {
	font-size:15px;
	margin-bottom:10px;
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
	
	
}	


.footer-terms{
	font-weight:600;
	font-size:15px;
	margin-bottom:10px;
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
}

.footer-terms a{
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
}



/*Responsive*/

@media (max-width: 998px){
	
}

@media (max-width: 767px){

.header_icon{
	display:block;
}

.header_menu{
	width:100%;
	height:0px;
	overflow:hidden;
}

.header_item_dx{
	display:none;
}

.is-open{
	height:160px; 
	overflow: auto;
}



	
	/*************************************************************************/
	/*******************************  CONTENT ********************************/
	/*************************************************************************/
	#content{
		margin: 0;
		padding: 0;
		width: 95%;
		min-height: 600px;
		position: absolute;
		
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
		
		padding-left: 2.5%;
		padding-right: 2.5%;				
	}
	
	.container_appunti #content #content-content{
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
		margin-bottom: 20px;
	}
	
	.container_appunti #content .left{
		display: inline-block;
		float:left;
		width: 50%;
		height: 100%;
		padding-top: 10px;
	}
	.container_appunti #content .left .product{
		width: 30%;
		display: inline-block;	
		margin-bottom: 3.3%;
		border: solid 1px #FFF;
		cursor: pointer;
	}
	
	.container_appunti #content .left .product:hover{
		border: solid 1px #777;
		border-radius: 5px;
	}
	.container_appunti #content .left .product .product-image{
		height: 150px;		
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
	}
	.container_appunti #content .left .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 150px;
		vertical-align: top; 	
	}
	.container_appunti #content .left .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
	}
	 .container_appunti #content .left .product:hover .product-title{
		background-color: #276274;	
		color: #FFF;	
	}
	.container_appunti #content .left .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: #276274;
	}
	.container_appunti #content .left .product .product-button{	
		visibility: hidden;
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
	}
	.container_appunti #content .left .product:hover .product-button{
		visibility: visible;	
	}
	.container_appunti #content .left .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
	}
	.container_appunti #content .left .product:hover .product-button a{
		color: #276274;
	}
	
	.container_appunti #content .right{
		display: inline-block;
		float:left;
		width: 50%;
		height: 100%;
		padding-top: 10px;
	}
	.container_appunti #content .right .top-picture{
		display: inline-block;
		width: 100%;	
	}
	.container_appunti #content .right .top-picture img{
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
	.container_appunti #content .right .bottom-content{
		display: inline-block;
		height: 50%;
		width: 100%;
		text-align: center;
	}
	.container_appunti #content .right .bottom-content h2{	
		color: #ffcc00;
		display: inline-block;
	}
	.container_appunti #content .right .bottom-content h2:first-child{
		color: #276274;
	}
	.container_appunti #content .right .bottom-content p{
		margin-top: -10px;
	}
	
		/************************************************************/
	/***********************PAGINE ADMIN************************/
	/************************************************************/	
	#content #content-content .adminTitoloPagina{
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #276274;
	}	
	
	.container_appunti #content #content-content .adminTitoloPagina span{
		display: block;
		font-size: 16px;		
	}
	
	.container_appunti #content #content-content .adminTitoloPagina span a{	
		color: #ffcc00;
		margin-top: 8px;
		text-decoration: none;	
	}	

	.container_appunti #content #content-content .dataTables_wrapper{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		padding: 10px;
		color: #276274;
		overflow-x: auto;
	}
	
	.container_appunti #content #content-content .dataTables_wrapper .dataTables_length, .container_appunti #content #content-content .dataTables_wrapper .dataTables_filter, .container_appunti #content #content-content .dataTables_wrapper .dataTables_info, .container_appunti #content #content-content .dataTables_wrapper .dataTables_paginate{
		color: #000;
	}
	
	.container_appunti #content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button{
		color: #000;			
	}
	 
	.container_appunti #content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		background-color: none;			
	}
	
	.container_appunti #content #content-content .adminBodyDataTable tr td, .container_appunti #content #content-content .adminHeadDataTable tr td, .container_appunti #content #content-content .userBodyDataTable tr td, .container_appunti #content #content-content .userHeadDataTable tr td{
		text-align: center;
	}
	
	.container_appunti #content #content-content .adminBodyDataTable tr td img, .container_appunti #content #content-content .userBodyDataTable tr td img{
		max-width: 60px;
		cursor: pointer;
	}
	
	.container_appunti #content #content-content .adminBodyDataTable tr td i.elimina{
		color: #DC483E;
	}

	.container_appunti #content #content-content .adminBodyDataTable tr td i.foto{
		color: #000;
	}

	.container_appunti #content #content-content .adminBodyDataTable tr td i.modificaQuantita{
		color: #000;
	}

	.container_appunti #content #content-content .adminBodyDataTable tr td i.modificaPrezzo{
		color: #000;
	}

	.container_appunti #content #content-content .adminBodyDataTable tr td i.visualizza.nonLetto{
		color: #DC483E;
	}

	.container_appunti #content #content-content .adminBodyDataTable tr td i.visualizza.letto{
		color: #00cc00;
	}
		
	.container_appunti #content #content-content .adminAggiungi{
		text-align: center;	
		margin-top: 10px;
	}
	
	.container_appunti #content #content-content .adminButtonAggiungi{
		background-color: #276274;
		border: 0;
		border-radius: 20px;	
		width: 80px;		
		height: 40px;		
		color: #FFF;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
	}
	
	.container_appunti #content #content-content .adminButtonAggiungi i.fa-plus{
		font-size: 25px;
		cursor: pointer;
	}
	
	.container_appunti #content #content-content .adminFormAggiungi{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;
	}
	
	.container_appunti #content #content-content .adminFormAggiungi .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}
	
	.container_appunti #content #content-content .adminFormAggiungi .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		margin-left: 1%;
		width: 7%;	
		cursor: pointer;	
	}
	
	.container_appunti #content #content-content .adminFormAggiungi #nomeAliquota, .container_appunti #content #content-content .adminFormAggiungi #valoreAliquota{
		width: 44%;
	}
	
	.container_appunti #content #content-content .adminFormAggiungi #nomeCategoria{
		width: 90%;
	}

	.container_appunti #content #content-content .adminFormAggiungi #nomeUnita, .container_appunti #content #content-content .adminFormAggiungi #siglaUnita{
		width: 44%;
	}

	.container_appunti #content #content-content .adminFormAggiungi #daSconto, .container_appunti #content #content-content .adminFormAggiungi #aSconto{
		width: 12%;
	}
	
	.container_appunti.container_appunti #content #content-content .adminFormAggiungi #prezzoSconto{
		width: 7%;
	}	
	
	.container_appunti #content #content-content .adminFormAggiungi #prodottoSconto{
		width: 56%;
	}		
	
	.container_appunti .container_appunti #content #content-content .adminFormAggiungi #categoriaProdotto{
		width: 23%;
		margin-bottom: 20px;
	}		
	.container_appunti #content #content-content .adminFormAggiungi #nomeProdotto{
		width: 19%;
		margin-bottom: 20px;
	}	
	.container_appunti #content #content-content .adminFormAggiungi #descrizioneProdotto{
		width: 54%;
		margin-bottom: 20px;
	}
	.container_appunti #content #content-content .adminFormAggiungi #descrizioneAbbreviataProdotto{
		width: 46%;
	}
	.container_appunti #content #content-content .adminFormAggiungi #unitaProdotto, .container_appunti #content #content-content .adminFormAggiungi #aliquotaProdotto{
		width: 13%;
	}
	.container_appunti #content #content-content .adminFormAggiungi #quantitaProdotto, .container_appunti #content #content-content .adminFormAggiungi #prezzoProdotto{
		width: 7%;
	}
	
	
	
	.container_appunti #content #content-content .adminFormAggiungi #containerDefaultImmagine{	
		width: 100%;
		text-align: center;		
	}	
	.container_appunti #content #content-content .adminFormAggiungi #containerDefaultImmagine #defaultImmagine, .container_appunti #content #content-content .adminFormAggiungi #containerDefaultImmagine label{
		vertical-align: middle;
	}	
	.container_appunti #content #content-content .adminFormAggiungi #confirmAggiungiImmagine{
		margin-left: 47%;
	}	
	.container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto{
		min-height: 100px;
		background-color: #eee;
		margin-bottom: 20px;
		cursor: pointer;
		position: relative;
		padding: 15px;
	}	
	.container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto:after {
    	content: 'Sposta qui l\'immagine da caricare';
    	position: absolute;
    	top: 40%;
    	left: 42%;
    	width: 20%;
    	height: 5%;
	}		
	.container_appunti #content #content-content .adminFormAggiungi .dz-started.dropzoneImmagineProdotto:after {
		display: none;
	}	
	.container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-mark, .container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-message, .container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-success-mark{
		display: none;		
	}	
	.container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-remove{
		background-color: #DC483E;
		border: solid 1px #DC483E;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		width: 7%;	
		cursor: pointer;
		text-decoration: none;
		font-size: 12px;
		padding: 5px;		
	}		
	.container_appunti #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-image img{
		border-radius: 10px;
	}			
	.container_appunti #content #content-content .adminFormAggiungi #nomemetodoPagamento{	
		width: 30%;
    	margin-bottom: 20px;
	}	
	.container_appunti #content #content-content .adminFormAggiungi #descrizionemetodoPagamento{
		width: 54%;
		margin-bottom: 20px;
	}
	
	#modalContatti{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalContatti #modalContattiNav{
		position: absolute;
		left: 97%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalContatti #modalContattiBody{
		position: absolute;
		width: 100%;
		top: 5%;	
	}	
	#modalContatti #modalContattiBody h2{
		color: #276274;
	}
	#modalContatti #modalContattiBody textarea{	
		width: 95%;
		border: solid 1px #276274;
		border-radius: 15px;
		padding: 15px;
		height: 250px;
		margin-top: 20px;
	}
	
	#modalContatti #modalContattiBody .fieldContatto{
		width: 30%;
		display: inline;
		margin-left: 5%;
	}
	
	.container_appunti #content #content-content .adminFormAggiungi #nomeVettore{	
		width: 30%;    	
	}	
	.container_appunti #content #content-content .adminFormAggiungi #descrizioneVettore{
		width: 45%;		
	}
	.container_appunti #content #content-content .adminFormAggiungi #costoVettore{
		width: 8%;
	}
	.container_appunti #content #content-content .adminFormAggiungi #contrassegnoVettore{
		width: 4%;
	}
	
	
	.container_appunti #content #content-content .adminFormAggiungi #nomeStato{	
		width: 82%;    	
	}	
	.container_appunti #content #content-content .adminFormAggiungi #ordineAnnullabileStato{
		width: 3%;		
	}
	.container_appunti #content #content-content .adminFormAggiungi #primoStato{
		width: 3%;		
	}
	
	#content .categoriaProdotto{
		margin-top: 20px;
	}
	#content .categoriaProdotto .product{
		width: 30%;
		display: inline-block;	
		margin-bottom: 3.3%;
		border: solid 1px #FFF;
		cursor: pointer;
	}
	
	#content .categoriaProdotto .product:hover{
		border: solid 1px #777;
		border-radius: 5px;
	}
	#content .categoriaProdotto .product .product-image{
		height: 230px;		
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
	}
	#content .categoriaProdotto .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 230px;
		vertical-align: top; 	
	}
	#content .categoriaProdotto .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
	}
	#content .categoriaProdotto .product:hover .product-title{
		background-color: #276274;	
		color: #FFF;	
	}
	#content .categoriaProdotto .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: #276274;
	}
	#content .categoriaProdotto .product .product-button{	
		visibility: hidden;
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
	}
	#content .categoriaProdotto .product:hover .product-button{
		visibility: visible;	
	}
	#content .categoriaProdotto .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
	}
	#content .categoriaProdotto .product:hover .product-button a{
		color: #276274;
	}

	
}
