body{
	font-family:monospace;
	margin:0;
	padding:0;
	background-color:#f5f5f0;
	
}

.animate{
	
	-webkit-transition:all 0.3 ease-out;
	 transition:all 0.3 ease-out;
}

/*Header------------------*/

.header{
	background-color:#1ea4ca;
	border-radius:0px 0px 5px 5px;
	
}

.header_logo{
	color:white;
	float:left;
	display:inline-block;
	padding:4px;
	margin-right:100px;
	margin-top:5px
}

.header_icon{
	display:block;
	float:right;
	padding:20px;
	display:none;
}

.header_icon span{
	display:block;
	height:3px;
	width:35px;
	background-color:white;
	margin-bottom:5px;
}

.header_menu{
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;	
}

.header_menu .header_item{
	margin:0;
	padding:0;
	float:left;
	width:150px;
	height:51px;
	background-color:#1ea4ca;
	text-align:center;
	font-size:15px;
	list-style-type:none;
}

.header_menu .header_item a{
	font-family:monospace;
	font-weight:800;
	text-decoration:none;
	padding:22px;
	color:white;
	text-shadow:1px 1px black;
	display:block;	
}


ul li ul li{
	display:none;
	margin:0;
	width:150px;
	margin-left:-40px;
	background-color:#1ea4ca;
}

ul li:hover ul li{
	display:block;
	position:relative;
	z-index:1000;
	
}


ul li a:hover{
	background-color:#1abbea;
	
}


/*Header Menu dx-------------------------*/

.header_menu_dx{
	float:left;
	margin-left:300px;
}

.header_item_dx{
	display:inline-block;
	
}

.header_item_dx a{
	font-family:monospace;
	font-size:15px;
	font-weight:800;
	color:white;
	display:block;	
	padding:13px;
	margin-top:9px;
	text-decoration:none;
	text-shadow:1px 1px black;
	border-radius:10px;
	background-color:#1abbea;
}

.header_item_dx a:hover{
	opacity:0.85;
}

.clear:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}




/*Container-Index-------------------------------*/


.section-image{
	padding:30px;
	margin:50px 90px;
	margin-top:150px;
}

.container{
	width:75%;
	height:400px;
	margin:80px auto;
	background-color:#1ea4ca;
	border-radius:10px;
}

.titolo-sezione{
	color:white;
	padding:30px;
	text-align:center;
	text-shadow:1px 1px black;
	font-size:24px;
	font-family:monospace;	
}

.section-text{
	color:white;
	padding:20px;
	margin-top:0px;
	font-size:19px;
	font-weight:800;
	font-family:monospace;	
	text-shadow:1px 1px black;
	color:white;
}

#button{
	font-family:monospace;
	font-size:15px;
	font-weight:800;
	width:80px;
	color:white;
	display:block;	
	padding:13px;
	margin-top:50px;
	text-decoration:none;
	text-shadow:1px 1px black;
	border-radius:10px;
	background-color:#1ea4ca;
}

#button:hover{
	opacity:0.85;	
}

/*Container-ricerca------------------------*/


.image-section{
	height:160px;
	width:210px;
	float:right;
	padding:0px;
	margin-top:15px;
	margin-right:80px;
	
}

.image-section1{
	height:160px;
	width:160px;
	float:right;
	padding:0px;
	margin-top:15px;
	margin-right:100px;
}

/*Container-Section------------------------*/

.title-section{
	color:white;
	padding:12px;
	text-align:center;
	font-size:24px;
	font-family:monospace;	
	text-shadow:1px 1px black;
	
}

.container-section{
	width:75%;
	height:400px;
	margin:80px auto;
	background-image:linear-gradient(122deg,#1ea4ca,rgba(33,33,33,0) 150%,rgba(0,0,0,0) 100%);
	background-repeat:no-repeat;
	opacity:0.9;
	border-radius:10px;
	box-shadow:1px 1px grey;

}



/*Container-Appunti------------------------*/

.container_appunti{
	width:80%;
	height:100%;
	margin-top:4600px;
	margin-left:25%;
	padding:0;
	margin:100px auto;
	background-color:#1ea4ca;
	opacity:0.9;
	border-radius:10px;
	box-shadow:1px 1px grey;
	
}

table{
	font-family: monospace, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 15px;
    color:white;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    text-shadow:1px 1px black;
    padding: 8px;    
}

th a{
	color:white;
   	text-decoration:none;
	
}

th a:hover{
	text-decoration:underline;
}
tr{
	padding:5px;
	
}

.tabella{
	padding:5px;
}


/*FAQ-------------------------------*/

.container_faq{
	box-sizing:border-box;
	color:white;
	display:block;
	margin-top:10px;
	font-size:18px;
	text-shadow:1px 1px black;
	height:930px;
	line-height:24px;
	text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;  
}

.faq_menu{
    position: relative;
    display: inline;
}

.faq_item{
	background-color: #1ea4ca;
    color: white;
    padding: 25px;
    margin-top:20px;
    font-size: 20px;
    border: none;
}

.faq_item_content{
	display:block;
    position: absolute;
    font-size:14px;
    left:16px;
    background-color:#1ea4ca;
    width: 1000px;
    overflow: none;
} 

.faq_item_content a{
	width:400px;
	margin-left:10px;
}

.faq_item:hover, .faq_item:focus {
border:none;
}

.show {
	display:inline;
}





/*Footer-----------------------------------*/


.footer{
	font-family:monospace;
	font-weight:600;
	font-size:15px;
	color:#fff;
	background-color:#1ea4ca;
	margin-top:20%;
	padding:30px;
	border-radius:5px 5px 0px 0px;
	text-decoration:none;
	
}


.image-footer {
	vertical-align:bottom;
	text-align:left;
	margin:0;
	padding:0;	
}

.container-footer{
	padding:0;
	margin-top:-100px;
	text-decoration:none;
	text-shadow:1px 1px black;
}

.copyright {
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
	
}	


.footer-terms{
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
}

.footer-terms a{
	vertical-align:top;
	text-align:right;
	text-decoration:none;
	color:#fff;
}

/*Responsive*/

@media (max-width: 998px){
	
}

@media (max-width: 767px){

.header_icon{
	display:block;
}

.header_menu{
	width:100%;
	height:0px;
	overflow:hidden;
}

.header_item_dx{
	display:none;
}

.is-open{
	height:160px; 
	overflow: auto;
}
}
