body{
	font-family:monospace;
	color:white;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

ul li {
	float:left;
	width:200px;
	height:54px;
	background-color:#1abbea;
	line-height:40px;
	text-align:center;
	font-size:20px;
}

ul li a{
	text-decoration:none;
	color:white;
	display:block;
	padding:10px;
}

ul li a:hover{
	background-color:#1ea4ca;
}

ul li ul li{
	display:none;
}

ul li:hover ul li{
	display:block;
}







/*Immagine Copertina-----*/

.container-image{
	padding-bottom:20px;	
	margin:0px 10px;
}


.image-scroll{
	width:50%;
	height:390px;
	margin-top:80px;
	margin-left:25%;
	padding:0;
}


.titolo-sezione{
	color:#fff;
	padding:20px;
	text-align:center;
	font-size:20px;
	font-weight:600;
	font-family:monospace;
}




/*Best-Seller*/

.container{
	margin:100px 60px;
	background-color:#1abbea;
	height:400px;
	border-radius:10px;
	

}

.best-seller{
	width:20%;
	margin:0px 40px auto;
	padding:0;	
	background-color:#1abbea;
	float:left;

}


.bests-img{
    width:90%;
	height:250px;
	padding:20px;
	border-radius:30px;
}


.bests{
	margin:0;
	padding:0;
}


.appunto-text{
	text-align: justify;
	line-height:40px;
    font-size:20px;
    font-family:serif;
    font-style:oblique;
	padding:15px;
	margin:5px;
}


.Acquista{
	 outline: none;
	 cursor: pointer;
	 text-align: center;
	 text-decoration: none;
	 font: bold 12px Arial, Helvetica, sans-serif;
	 color: black;
	 margin-left:20%;
	 padding: 5px 18px;
	 border: solid 1px black;
	 background:#FDEEC3;
}


.Acquista:hover{
	opacity:0.8;
}

#cartimgdel{
	marginn-left:10px;
	margin-top:5px;
}

.cartimg{
	margin-top:1px;
	
}

/*Nuove Uscite------*/



.nuoveu-img{
    width:100%;
	height:10%;
}


.nuoveu-text{
	text-align:center;
	padding:0;
}


.nuoveu-text h3{
	margin-bottom:0;
}


.nuove{
	margin:0;
	padding:0;
}



/*Chi Siamo*/

.storia{
	max-width:100%;
	margin:20px auto;
}


.storia-block{
	width:25%;
	margin:0 38%;	
	background-color:white;
}


.storia-img{
	width:100%;
}


#storia-text{
	text-align: justify;
    font-size:20px;
    font-family:serif;
    font-style:oblique;
	padding:15px;
	margin:5px;
}


#team{
	font-family:serif;
	font-weight:bold;
	text-align:center;
}



/*Spedizioni*/

#spedizione-text{
	text-align: justify;
    font-size:20px;
    font-family:serif;
    font-style:oblique;
	padding:15px;
	margin:5px;
}



/*Pagina Contatti-------*/

.contatti{
	font-family:sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	padding:5px;
}


/*Sezioni*/

.contacts{
	max-width:1000px;
	margin:30px auto;
}


.contact{
	width:30%;
	margin:0 1.5%;	
	background-color:white;
	float:left;
	
}


.contact-img{
	width:100%;
	height:auto;
	
}


.contact-text{
	padding:5px 20px;
}


.contact-text h3{
	margin-bottom:0;
}


.mail{
	margin:0;
	padding:0;
}


.mail:hover{
	text-decoration:underline;
}



/*Logout*/

.logout{
	text-align:center;
	position:relative;
	clear:both;
	padding-top:40px;
	width:30%;
	margin-left:35%;		
}


.login{
	text-align:center;
	margin-left:5%;
}



/*Carrello*/

#Carrello{
	text-align:center;
	background-color: white;
	float: right;
	border: 1px solid black;
	width: 65.5%;
	height: auto;
	margin-left: 5%;
	margin-top: 5%;
	padding: 10px;
	overflow: scroll;
}


#divPrezzo{
	background-color:#47AB2B ;
	text-align:center;
	border-radius:5px;
	width: 28%;
	height:auto;
	margin-left: 35%;
	margin-top: 5%;
	margin-right:37%;
	padding: 10px;
}


#Acquista{
     outline: none;
	 cursor: pointer;
	 text-align: center;
	 text-decoration: none;
	 font: bold 12px Arial, Helvetica, sans-serif;
	 color: black;
	 padding: 5px 5px;
	 border: solid 1px black;
	 background:#FDEEC3;
}


.button{
	 outline: none;
	 cursor: pointer;
	 text-align: center;
	 text-decoration: none;
	 font: bold 12px Arial, Helvetica, sans-serif;
	 color: black;
	 padding: 5px;
	 border: solid 1px black;
	 border-radius:5px;
	 background:#47AB2B;
}

.button:hover{
	opacity:0.9;
}


/*Footer*/

.footer{
	font-family:monospace;
	font-weight:600;
	font-size:15px;
	color:#fff;
	background-color:#1ea4ca;
	margin-top:40%;
	padding:30px;
	border-radius:5px 5px 0px 0px;
}


.copyright{
	text-align:center;
	margin:0 auto;
	opacity:0.9;
}


.footer-terms{
	text-align:center;
}



/*Tabella*/

table {
	width: 60%;
	margin-left:20%;	
}


table, th, td {
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;    
	background-color:white;	
}


th, td {
	padding: 3px;
}


label {
	font-weight: bold;
}


form input[type=text], form input[type=number], form input[type=password],
	form input[type=date], form input[type=range], form input[type=email],
	form input[type=url], form input[type=time], form input[list] {
	width: 500px;
	font-size: 1em;
}



/*Admin*/

#formInsert{
	margin-left:30%;
}


#formMod{
	margin-left:20%;
}


#button-position{
	margin-left:22%;
}


/*Pagina Acquisto*/

#acquisto{
	margin-left:30%;
	width:40%;
	background-color:#82C168;
	border-radius:5px;
	margin-top:2%;
	padding: 1%;
}

#pagamento{
	width: 100%;
	margin-left:30%;
	
}

div.TableRow{
	display: table-row;
	
}

.legend{
	text-align:center;
	font-weight:bold;
}

#numeroCarta,#intestatario,#indi,#tel{
	width:100%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	outline: none;
	cursor: pointer;
    text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: black;
	padding: 5px 18px;
	margin-left:40%;
	border: solid 1px #0076a3;
	background:#FDEEC3;
}


.space{
	height:50px;
	background:white;
}
/*Registrazione*/

#errorReg{
	color:red;
}



/*Errore Pagina*/

#err{
	font-family:serif;
	font-weight:bold;
	text-align:center;	
}



/*Responsive-----*/

/*Tablet*/
@media screen and (min-width: 998px) and (max-width: 1200px) {

.image-scroll{
	margin-left:0%;
	height:320px;
}	
	
.Acquista{
	margin-left:70%;
}



table{
	margin-left:20%;
}


td{
	padding:px;
}


#formInsert{
	margin-left:20%;
}

#formInsert input{
	width:80%;
	display:block;
	
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:10%;
    margin-right:15%;
 
}


#acquisto{
	margin-left:15%;
	width:65%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:50%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:20%;
} 

}

@media screen and (min-width: 768px) and (max-width: 997px){

.image-scroll{
	margin-left:-1%;
	height:310px;
}	
	
.Acquista{
	margin-left:15%;
}



table{
	margin-left:20%;
}


td{
	padding:10px;
}


#formInsert{
	margin-left:20%;
}


#formInsert input{
	width:80%;
	display:block;
	
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:10%;
    margin-right:15%;
 
}

#acquisto{
	margin-left:10%;
	width:78%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:45%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:20%;
} 


.footer{
	clear:both;
}

}



/*Smarphone*/
@media screen and  (max-width: 767px) {

.image-logo,.titolo-logo{
	margin-left:22%;
	margin-right:0%;
}


.logo{
	margin-left:0%;
	margin-right:10%;
}

.image-scroll{
	margin-left:-1%;
	height:280px;
}
	
.contact{
	width:90%;
	margin:5%;	
}


.footer{
	clear:both;
}


.best-seller{
	width:90%;
	margin:5%;
}


.nuova-uscita{
	width:85%;
	margin:10%;
}


.sezione{
	margin-left:20%;
}


.sezione-dx{
	display:none;
}


.Acquista{
	margin-left:43%;
}


.ricerca{
	padding:25px;
}

table{
	margin-left:20%;
}


td{
	padding:5px;
}


#formInsert{
	margin-left:20%;
}


#formInsert input{
	width:80%;
	display:block;
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:10%;
    margin-right:15%;
}

#acquisto{
	margin-left:0%;
	width:98%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:40%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:20%;
} 


}

@media screen and (max-width: 550px) {

.image-scroll{
	margin-left:-2%;
	height:260px;
}
	
.subheader{
	position:relative;
	z-index:-1;
	width:100%;
}


.subheader_icon{
	display: block;
	margin-left:45%;
}


.subheader_menu{
	width:100%;
	height:0px; 
	overflow: hidden; 
	background:#1abbea;
}


.subheader_item{
	display: block; 
	margin-left:42%;
}


.is-open{
	height:160px; 
	overflow: auto;
}
	

.sezione{
	margin-left:18%;
}	


.Acquista{
	margin-left:35%;
}


.image-logo,.titolo-logo{
	margin-left:10%;
	margin-right:20%;
}


.logo{
	margin-left:5%;
	margin-right:10%;
}


.ricerca{
	padding:25px;
}

.storia-block{
	width:35%;
	margin:0 33%;
}


 #divPrezzo{
	margin-left:25%;
	width:48%;
}


table{
	margin-left:20%;
}


td{
	padding:5px;
}


tr{
	margin-right:20%;
}


#formInsert{
	margin-left:20%;
}


#formInsert input{
	width:80%;
	display:block;
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:10%;
	margin-right:15%; 
}


.info{
	margin-left:auto;
	width:99%;	
}


#acquisto{
	margin-left:0%;
	width:98%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:22%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:30%;
} 


@media screen and (max-width: 429px){

.image-logo,.titolo-logo{
	margin-left:5%;
	margin-right:10%;
}

.logo{
	margin-left:3%;
	margin-right:10%;
}

.image-scroll{
	margin-left:-2%;
	height:260px;
}

.sezione{
	margin-left:16%;
}

 
#divPrezzo{
	margin-left:25%;
	width:48%;
}

 
table{
	margin-left:12%;
}


td{
	padding:1px;
}


#formInsert{
	margin-left:20%;
}


#formInsert input{
	width:80%;
	display:block;	
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:10%;
    margin-right:15%; 
}
 
#acquisto{
	margin-left:1%;
	width:97%;
	margin-top:2%;
	padding: 1%;
}

#pagamento{
	margin-left:5%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:30%;
} 
 
}

@media screen and (max-width: 360px){

.image-logo,.titolo-logo{
	margin-left:0%;
	margin-right:0%;
}


.logo{
	margin-left:0%;
	margin-right:50%;
}

.image-scroll{
	margin-left:-3%;
	height:250px;
}

.sezione{
	margin-left:13%;
}


.footer{
	clear:both;
}


.ricerca{
	padding:20px;
}

	
#divPrezzo{
	margin-left:25%;
	width:45%;
}	


table{
	margin-left:9%;
}

#cartimgdel{
	margin-left:-7px;
}

.cartimg{
	margin-top:1px;
	margin-left:-1px;
	margin-right:2px;
	
}
td{
	padding:5px;
}


#formInsert{
	margin-left:10%;
}


#formInsert input{
	width:100%;
	display:block;
	
}


#formMod{
	margin-left:5%;
}


#formMod input{
	width:100%;
	display:block;
}


#button-position{
	margin-left:15%;
    margin-right:15%;
 
}
	

#acquisto{
	margin-left:0%;
	width:100%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:0%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}


#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:30%;
}
}


@media screen and (max-width: 320px){

.image-logo,.titolo-logo{
	margin-left:-25px;
	margin-right:0%;
}


.logo{
	margin-left:0%;
	margin-right:50%;
 }
 
 
table{
	margin-left:3%;
}


td{
	padding:6px;
}


#acquisto{
	margin-left:0%;
	width:98%;
	margin-top:2%;
	padding: 2%;
}

#pagamento{
	margin-left:0%;
	width: 110%;	
}



div.TableRow{
	display: table-row;
	
}

#numeroCarta,#intestatario,#indi,#tel{
	width:60%;
}

#dataScadenza,#cvv{
	width: 30%;
}

#buttonAcq{
	margin-left:30%;
} 

}


@media screen and (max-width: 180px){


.image-logo,.titolo-logo,.logo{
	margin-left:-30px;
	margin-right:0;
    margin-bottom:10%;
}


.titolo-logo{
	margin-left:-55px;
}


.ricerca input[type="text"]{
	width:100%;
 }

}

@media screen and (min-width: 180px){
		
.footer{
clear:both;
}
	
}